@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,200&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

$green:#219150;
$black:#10221b;
$white:#fff;
$light-bg:#eee;
$border:.2rem solid $black;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);

@mixin grid($val) {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap:1.5rem;   
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;

    &::-webkit-scrollbar{
        width: .5rem;
    }
    &::-webkit-scrollbar-track{
        background: $white;
    }
    &::-webkit-scrollbar-thumb{
        background: $black;
    }
}

section{
    padding: 5rem 9%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    border:$border;
    color:$black;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;

    &:hover{
        background: $black;
        color: $white;
    }
}

.btn-images{
    margin-top: 1rem;
    display: inline-block;
    border:$border;
    color:$black;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
    text-align: center;   
    margin-bottom: 20px;

    &:hover{
        background: $black;
        color: $white;
    }
}


.heading{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    color:$black;
}

.header{
    position: fixed;
    top: 0; left: 0; right:0;
    padding:0.5rem 9%;
    z-index:1000;
    display: flex;
    align-items: center;

    &.active{
        background: $white;
        box-shadow: $box-shadow;

        a{
            color: $black;
        }

        
    }


 
    

    .logo{
        margin-right: auto;
        font-size: 2.5rem;
        color: $black;
        font-weight: bolder;
        
        img{
            max-height: 65px;
            max-width: 65px;
        }
    }

    .navbar{
        a{
            margin-left: 2rem;
            font-size: 1.7rem;
            color: $white;

            &:hover{
                color:$green;
            }

            &.active{
                color: $black;
            }


        }

        #nav-close{
            font-size: 5rem;
            cursor: pointer;
            color:$black;
            display: none;
        }




        // &.on{
        //     a{
        //         color:$black;

        //         &:hover{
        //             color: $green;
        //         }
        //     }        
        // }

    }



    .icons a,
    .icons div{
        font-size: 2.5rem;
        margin-left:2rem;
        cursor: pointer;
        color:$white;

        &:hover{
            color: $green;
        }
    }

    #menu-btn{
        display: none;

        &.active{
            align-content: center;
            display: block;
        }
    }
}




.search-form{
    position: fixed;
    top:0; left:0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    transform: translateY(-110%);

    &.active{
        transform: translateY(0%);
    }

    #close-search{
        position: absolute;
        top: 2rem; right:2.5rem;
        cursor: pointer;
        color:$white;
        font-size: 6rem;

        &:hover{
            color:$green;
        }
    }

    form{
        width: 70rem;
        margin: 0 2rem;
        padding-bottom: 2rem;
        border-bottom: .2rem solid $white;
        display:flex;
        align-items: center;

        input{
            width: 100%;
            font-size: 2rem;
            color:$white;
            text-transform: none;
            background: none;
            padding-right: 2rem;

            &::placeholder{
                color:#aaa;
            }

        }

        label{
            font-size: 2.5rem;
            cursor: pointer;
            color:$white;

            &:hover{
                color:$green;
            }
        }

    }
}

.home{
    padding:0;

    .box{
        min-height: 100vh;
        display: flex;
        align-items: center;
        background-size: cover !important;
        background-position: center !important;
        justify-content: flex-start;
        padding: 2rem 9%;

        &.second{
            justify-content: flex-end;

        }

        .content{
            width:50rem;

            span{
                font-size: 4rem;
                color: $black;

            }

            h3{
                font-size: 6rem;
                color: #114627;
                padding-top: .5rem;
                text-transform: uppercase;

                &.girrafe{
                    color: #0a2b18;
                }
            }
        }
        .content-diani{
            width:50rem;

            span{
                font-size: 4rem;
                color: #007694;

            }

            h3{
                font-size: 6rem;
                color: #00aeff;
                padding-top: .5rem;
                text-transform: uppercase;

                &.girrafe{
                    color: #00aeff;
                }
            }

        }

    }
}

.hero{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content{
        text-align: center;
        padding-bottom: 0;

        h1{
            font-size: 4rem;
            color:#fff;
            font-weight: 600;

        }

        h3{
            font-size: 4rem;
            color:$green;
        }
        a{
            text-decoration: none;
            display: inline-block;
            color: #fff;
            font-size: 24px;
            border: 2px solid #fff;
            padding:14px 70px;
            border-radius:50px;
            margin-top: 20px;

        }
    }

    .back-video{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

@media (min-aspect-ration: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ration: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}



.swiper-button-next:after,
.swiper-button-prev:after{
    font-size: 3rem;
    color:$black;
}

.category {
    .box-container{
        @include grid(29rem);

        .box{
            text-align: center;
            padding: 1rem;

            img{
                height: 20rem;
                width: 20rem;
                border-radius: 50%;
                margin-bottom: 1rem;
            }

            h3{
                font-size: 2rem;
                color: $green;
            }

            p{
                font-size: 1.4rem;
                color:$black;
                padding: 1rem 0;
                line-height: 2;
            }
        }
    }
}

.about{
    background: $light-bg;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    height: 100vh;
    width: 100%;

    .image{
        flex:1 1 42rem;
        padding-right: 5rem;
        padding-bottom: 5rem;

        img{
            width: 100%;
            box-shadow: 4rem 4rem 0 rgba(0,0,0,.1);
        }

    }

    .image-about{
        flex:1 1 42rem;
        padding-right: 5rem;
        padding-bottom: 5rem;

        img{
            width: 100%;
            box-shadow: 4rem 4rem 0 rgba(0,0,0,.1);
        }

    }

    .content{
        flex: 1 1 42rem;

        h3{
            font-size: 3rem;
            color:$green;
        }

        p{
            font-size: 1.5rem;
            color: $black;
            padding: 1rem 0;
            line-height: 2;
        }

        span{
            font-size: 2rem;
            color: $black;

        }
    }
}

.about-packages{
    background: $light-bg;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    height: 50vh;
    width: 100%;

    .image{
        flex:1 1 42rem;
        padding-right: 5rem;
        padding-bottom: 5rem;

        img{
            width: 100%;
            box-shadow: 4rem 4rem 0 rgba(0,0,0,.1);
        }

    }

    .image-about{
        flex:1 1 42rem;
        padding-right: 5rem;
        padding-bottom: 5rem;

        img{
            width: 100%;
            box-shadow: 4rem 4rem 0 rgba(0,0,0,.1);
        }

    }

    .content{
        flex: 1 1 42rem;

        h3{
            font-size: 3rem;
            color:$green;
        }

        p{
            font-size: 1.5rem;
            color: $black;
            padding: 1rem 0;
            line-height: 2;
        }

        span{
            font-size: 2rem;
            color: $green;

        }
    }
}

.about-packages-detail{
    background: $light-bg;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    height: fit-content;
    width: 100%;

    .image{
        flex:1 1 42rem;
        padding-right: 5rem;
        padding-bottom: 5rem;

        img{
            width: 100%;
            box-shadow: 4rem 4rem 0 rgba(0,0,0,.1);
        }

    }

    .image-about{
        flex:1 1 42rem;
        padding-right: 5rem;
        padding-bottom: 5rem;

        img{
            width: 100%;
            box-shadow: 4rem 4rem 0 rgba(0,0,0,.1);
        }

    }

    .content{
        flex: 1 1 42rem;

        h3{
            font-size: 3rem;
            color:$green;
        }

        p{
            font-size: 1.5rem;
            color: $black;
            padding: 1rem 0;
            line-height: 2;
        }

        span{
            font-size: 2rem;
            color: $green;

        }
    }
}


.packages{
    background: $light-bg;

    .box-container{
        @include grid(32rem);

        .box{
            text-align: center;
            background: $white;
            border:$border;
            box-shadow: $box-shadow;
            border-radius: .5rem;

            &:hover{
                background: $black;

                .content > *{
                    color:$white;
                }

                .btn{
                    border-color: $white;

                    &:hover{
                        background: $white;
                        color: $black;
                    }
                }
            }

            .image{
                height: 25rem;
                overflow: hidden;
                padding: 2rem;
                padding-bottom: 0;
                border-radius: .5rem;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: .5rem;
                }
            }

            .content{
                padding:2rem;


                h3{
                    font-size: 1.7rem;
                    color: $black;
                }

                p{
                    font-size: 2rem;
                    color: $black;
                    padding: 1rem 0;
                    line-height: 2;
                }

                .price{
                    font-size: 1.5rem;
                    color: $green;
                     
                }
            }
        }
    }
}

.details-btn,
.btn{
    align-items: center;
    justify-content: center;
    text-align: center;
    background: $light-bg;

    a{
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        padding:14px 70px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


.container{
    width: 100%;
    height: 100vh;
    background: $light-bg;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background: $light-bg;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;

}

form h3{
    font-size: 2.7rem;
    color: $black;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    background: #f5f5f5;
    font-size: 15px;
}

form button{
    padding: 15px;
    background: $green;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;

}



//footer
.footer{
    // background: $light-bg;
    // color: $black;
    
    .butn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
    }

    .butn.btn-social:hover {
    color: var(--primary);
    }

    .butn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
    }

    .butn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    }

    .butn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
    }

    .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
    }

    .copyright {
        a{
         color: var(--light);
        }
    }

    .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
    }

    .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
    }

}




















//media queries

@media(max-width:1200px){
    .header{
        padding: 2rem;
    }

    section{
        padding: 3rem 2rem;
    }
}

@media(max-width:991px){

    html{
        font-size: 55%;
        scroll-padding-top: 7rem;
    }


    .home .box{
        padding:2rem;
        justify-content: center;
        background-position: right !important;

        &.second{
        justify-content: center;
        background-position: right !important;
              
        }

        .content{
            text-align:center;

            span{
                font-size: 3rem;
            }

            h3{
                font-size: 4rem;
            }
        }
    }
}

@media(max-width:768px){
    .header{
        #menu-btn{
            display: inline-block;

            &.active{
                background: $white;
                box-shadow: $box-shadow;
            }

            
        }

     .navbar{
        position: fixed;
        top:0;left:-110%;
        background: $white;
        z-index:10000;
        width: 35rem;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        // transform: translateX(-);

        &.active{
            left: 0;
            box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
            
            
        }

        a{
            margin: 1rem 0;
            font-size: 4rem;
            color: $black;
            display: block;
     
            text-align: center;
        }

        #nav-close{
            display:block;
            position: absolute;
            top: 1rem; right:2rem;
        }
    }
    }

    .swiper-button-next:after,
    .swiper-button-prev:after{
    display: none;
    }

}



@media(max-width:450px){

    html{
        font-size: 50%;
    }
}


